<h1> Testimonials </h1>

<p> See what our most excellent users have to say about <b>EPSILON</b>. </p>

<blockquote>
  That's nice honey, but why don't you get a real job?
  &mdash; My mom
</blockquote>

<blockquote>
  Feed me Seymour!
  &mdash; The little plant I bought for $1.95
</blockquote>

<blockquote>
  Stop writing fake testimonials and actually finish this project.
  &mdash; Me
</blockquote>
